@use "../../styles/variables.scss" as *;

.recent-notes {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;

    & > li {
      margin: 1rem 0;
      .section > .desc > h3 > a {
        background-color: transparent;
      }

      .section > .meta {
        margin: 0 0 0.5rem 0;
        opacity: 0.6;
      }
    }
  }
}

// 最近在写固定最下面
.recent-notes{
  margin-top: auto;
}

// 使 internal 链接样式与 explorer 中的链接样式一致
.recent-notes .internal {
  color: var(--dark);
  opacity: 0.75;
  pointer-events: all;
  font-family: var(--headerFont), serif;
  font-size: 0.95rem;
  font-weight: $semiBoldWeight;
  line-height: 1.5rem;

  &.active {
    opacity: 1;
    color: var(--tertiary);
  }

  &:hover {
    color: var(--tertiary);
  }
}

// 缩小日期字体并去除line-height
.recent-notes .meta {
  font-size: 0.8rem !important;
  line-height: 0.5 !important;
}

// 间距
.recent-notes .recent-li{
  margin: 0.5rem 0 !important;
}